{{ $position := .Get "position" }}
{{ $videoid := .Get "video" }}
{{ $imagePath := .Get "image" }}
{{ $imageResource := resources.Get $imagePath }}
{{ $title := .Get "title" }}

<div class="row items-center justify-between my-4">
  <div class="mb:md-0 {{ if eq $position `right` }}md:order-2{{ end }} md:col-5">
    {{ if $imageResource }}
      {{ partial "image" (dict "Src" $imageResource "Alt" $title "Class" "mb-0!") }}
    {{ end }}
    {{ if $videoid }}
      <lite-youtube class="my-4" videoid="{{ $videoid }}"></lite-youtube>
    {{ end }}
  </div>
  <div class="{{ if eq $position `right` }}md:order-1{{ end }} md:col-7 lg:col-6">
    {{ if $title }}
      <h2 class="mt-0!">
        {{ $title | markdownify }}
      </h2>
    {{ end }}
    <div class="mb-8">
      {{- .Inner | markdownify -}}
    </div>
  </div>
</div>